<phpunit
    bootstrap="./Bootstrap.php"
    backupGlobals="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
>
    <php>
        <server name="HTTP_HOST" value="localhost" />
        <server name="SERVER_NAME" value="localhost" />
    </php>
    <testsuites>
        <testsuite name="CodeIgniter Application Test Suite">
            <directory suffix="test.php">./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../Feature</directory>
            <directory suffix=".php">../Unit</directory>
        </whitelist>
    </filter>
</phpunit>
